pip install django-admin-honeypot
pip install django-allauth
pip install django-appconf
pip install django-bootstrap-form
pip install django-bootstrap4
pip install django-braces
pip install django-celery-beat
pip install django-channels
pip install django-ckeditor
pip install django-cleanup
pip install django-compressor
pip install django-cors-headers
pip install django-crispy-forms
pip install django-debug-toolbar
pip install django-encrypted-model-fields
pip install django-environ
pip install django-extensions
pip install django-filter
pip install django-flatpickr
pip install django-graphql-jwt
pip install django-haystack
pip install django-heroku
pip install django-hosts
pip install django-js-asset
pip install django-markdown
pip install django-model-utils
pip install django-paypal
pip install django-phonenumber-field
pip install django-private-chat
pip install django-redis
pip install django-request
pip install django-safedelete
pip install django-softdelete
pip install django-storages
pip install django-tables2
pip install django-taggit
pip install django-timezone-field
pip install django-urlcrypt
pip install django-weasyprint
pip install django-widget-tweaks
pip install djangorestframework
pip install djangorestframework-jwt